body {
	padding-left: 5%;
}
.prompt {
	margin-bottom: 10px;
}

div {
	margin-top: 5px;
}

div .option{
	display: inline;
}

button {
	margin: 20px 0;
	padding: 10px;
	width: 100px;
	background-color: #e7e7e7;
	color: black;
    border: 1px solid grey;
}

button:disabled,
button[disabled]{
	border: 1px solid #999999;
	background-color: #cccccc;
	color: #666666;
}

.quiz-page, .results-page {
	display: none;
}
