body {
	padding-left: 5%;
}
.prompt {
	margin-bottom: 10px;
}

div {
	margin-top: 5px;
}

div .option{
	display: inline;
}

button {
	margin-top: 10px;
	padding: 20px;
	width: 100px;
}

.quiz-page {
	display: none;
}